<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/gameCtrl.js"></script>
    <script src="js/levels.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane class="background" ng-controller="GameCtrl">
      <ion-header-bar class="bar-dark" ng-model="currentLevel()" ng-show="isPlaying">
        <h1 class="title">
          <i class="coin icon ion-trophy"></i> {{currentLevel+1}}
        </h1>
        <button class="button">
          <i class="coin icon ion-ios-circle-filled"></i>
          {{score}}
        </button>
      </ion-header-bar>

      <ion-content>
      <div class="card" ng-show="isPlaying">
        <div class="image-wrapper item item-divider">
          <img class="image padding" ng-src="https://logo.clearbit.com/{{domain}}">
        </div>
        <div class="item item-divider" ng-show="isPlaying==true &amp;&amp; isCorrect===false">
          <button class="button button-small button-energized" ng-click="clearBoard()" >
            Reset Board
          </button>
          <button class="button button-small button-balanced" ng-click="nextLevel()">
            Reveal
          </button>
        </div>
        <div class="item item-text-wrap">
          <div class="guess button button-small button-royal" ng-repeat="guess in guesses track by $index" ng-click="removeGuess(guess)">
            {{guess}}
          </div>
          <button class="button button-small button-balanced win icon ion-checkmark" ng-if="isCorrect"></button>
        </div>
        <div class="item item-divider">
          <div class="item item-text-wrap">
            <div class="key button button-large button-stable" ng-repeat="key in keys track by $index" ng-click="addLetter(key) ">
              {{key}}
            </div>
          </div>
        </div>
      </div>


    <div class="welcome" ng-hide="isPlaying">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue">
          <div class="card">
            <div class="item item-text-wrap home-slide">
              Guess The Start Up!
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <div class="card">
            <div class="item item-text-wrap home-slide">
              Unscramble Words
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <div class="card">
            <div class="item item-text-wrap home-slide">
              Use a hint if you get stuck!
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
      <button class="button button-block button-balanced" ng-click="clearBoard()">
        Let&apos;s Play!
      </button>
    </div>



    <button class="button button-full button-balanced icon-right ion-chevron-right" ng-click="nextLevel()" ng-if="isCorrect">
      You got it! Next Level
    </button>

    </ion-content>
    </ion-pane>
  </body>
</html>
