/* Empty. Add your own CSS if you like */
body {
  text-align:center;
}

.background {
  black;
}

.home-slide {
  height: 400px;
}



.image {
  width:75%;
  border: 10px solid black;
}

.image-wrapper {
  height: 50%;
}

.card {
  margin: 0;
}

.item-text-wrap {
  background: #ECF0F1;
}


.win {
  color: #98E19A;
}

.coin {
  color: #F8C957;
}

.key {
  text-transform: uppercase;
  margin: 1px;
}

.guess {
  text-transform: uppercase;
  margin: 1px;
}

.table {
  width: 100%;
  background: black;
  color: white;
}
